<div id="id01" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container">
            <span id="modal-close-button" onclick="closeModal()" style="background: transparent" class="w3-button w3-display-topright">
                <i class="fa fa-remove"></i>
            </span>
            <h4>Your Submitted Information</h4>
        </header>
        <div class="w3-container-description">
            <ul id="modal-list"></ul>
        </div>
        <div id="modal-footer">
            <button onclick="submitForm()">Submit</button>
        </div>
    </div>
</div>
